/dist/
/cachedb/build/
/build/
/NBStudioCore/build/
/NBStudioCore/src/org/nbstudio/syntax/cls/clsLexer.java
/NBStudioCore/src/org/nbstudio/syntax/cls/clsLexer.tokens
/NBStudioCore/src/org/nbstudio/syntax/cls/clsParser.java
/NBStudioCore/src/org/nbstudio/syntax/cls/clsParser.tokens
/NBStudioCore/src/org/nbstudio/syntax/cls/clsParserBaseListener.java
/NBStudioCore/src/org/nbstudio/syntax/cls/clsParserListener.java
/NBStudioCore/src/org/nbstudio/syntax/mac/macLexer.java
/NBStudioCore/src/org/nbstudio/syntax/mac/macLexer.tokens
/NBStudioCore/src/org/nbstudio/syntax/mac/macParser.java
/NBStudioCore/src/org/nbstudio/syntax/mac/macParser.tokens
/NBStudioCore/src/org/nbstudio/syntax/mac/macParserBaseListener.java
/NBStudioCore/src/org/nbstudio/syntax/mac/macParserListener.java
/NBStudioCore/src/org/nbstudio/syntax/xdata/xdataLexer.java
/NBStudioCore/src/org/nbstudio/syntax/xdata/xdataLexer.tokens
/NBStudioCore/src/org/nbstudio/syntax/xdata/xdataParser.java
/NBStudioCore/src/org/nbstudio/syntax/xdata/xdataParser.tokens
/NBStudioCore/src/org/nbstudio/syntax/xdata/xdataParserBaseListener.java
/NBStudioCore/src/org/nbstudio/syntax/xdata/xdataParserListener.java
